.signup {
    color: #777;
}

.signup.inner-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

/*
.signup-outer-container {
    margin-top: 50px;
    overflow: auto;
}
*/

.signup.margin {
    height: 50px;
}

.signup.inner-container > * {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.signup.inputs > * {
    width: 100%;
}

.signup.inputs > input {
    color: #666;
    height: 30px;
    margin-bottom: 7px;
    outline: none;
}

.signup.inputs > input:focus {
    color: #444;
}

.signup.inputs > button {
    margin-top: 10px;
    margin-bottom: 17px;
}

.one.signup.inner-container {
    padding-bottom: 40px;
    margin-bottom: 10px;
    font-size: 13px;
}

.two.signup.inner-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.signup.terms-warning > a, .signup.terms-warning > a {
    font-weight: bold;
    color: #777;
}

.signup > h1 {
    text-transform: lowercase;
    margin-top: 18px;
    margin-bottom: 18px;
}
