body {
    color: #666;
    background-color: #fafafa;
    font-family: 'Helvetica';
    font-size: 15px;
    margin: 0;
    /*
    todo: put this back on
    position: relative;
    overflow-x: hidden;
     */
}

h1, h2 {
    font-size: 32px;
    margin: 15px;
    font-weight: bold;
    color: #444;
}

h3 {
    font-size: 18px;
    margin: 15px;
    font-weight: bold;
    color: #888;
}

h4 {
    font-size: 14px;
    margin: 5px 0px;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email] {
    text-indent: 8px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}

input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder {
    color: rgb(190, 190, 190);
}

a {
    text-decoration: none;
    color: #36618a
}

a:visited {
    text-decoration: none;
    color: #36618a
}

button {
    margin: 2px 0;
    padding: 7px 15px;
    color: #fff;
    /*background-color: #3721FF;*/
    background-color: rgb(0, 150, 250);
    text-align: center;

    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
}

.button-lowkey {
    color: #999;
    background-color: #fff;
    border: solid 1px rgb(210, 210, 210);
    border-radius: 4px;
}

.button-warning {
    color: #fff;
    background-color: rgb(250, 100, 100);
    border: solid 1px transparent;
    border-radius: 4px;
}

.outermost-container, .navbar.outer {
    width: calc(1000px - 24px);
    margin: 0 auto;
}

@media (max-width: 1000px){
    .outermost-container, .navbar.outer {
        width: auto;
    }
}

.click-through {
    pointer-events: none;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea {
    font-family: 'Helvetica';
    text-indent: 8px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    resize: none;
}

/* spinning loading bar 1 */

.loading {
    height: 100%;
    margin: auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #555; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.loader-small {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.loader-xsmall {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* spinning loading bar 2 */

.floatingBarsG{
    position:relative;
    width:22px;
    height:27px;
    margin:auto;
}

.blockG{
    position:absolute;
    background-color: #fff;
    width:3px;
    height:8px;
    border-radius:3px 3px 0 0;
    transform:scale(0.4);
    animation-name:fadeG;
    -webkit-animation-name:fadeG;
    animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    animation-direction:normal;
    -webkit-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:10px;
    animation-delay:0s;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}

#rotateG_02{
    left:3px;
    top:3px;
    animation-delay:0.15s;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}

#rotateG_03{
    left:9px;
    top:1px;
    animation-delay:0.3s;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}

#rotateG_04{
    right:3px;
    top:3px;
    animation-delay:0.45s;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:10px;
    animation-delay:0.6s;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

#rotateG_06{
    right:3px;
    bottom:2px;
    animation-delay:0.75s;
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:9px;
    animation-delay:0.9s;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

#rotateG_08{
    left:3px;
    bottom:2px;
    animation-delay:1.05s;
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
}

@keyframes fadeG{
    0%{
        background-color:#222;
    }
    100%{
        background-color: #fff;
    }
}
