body {
    color: #666;
    background-color: #fafafa;
    font-family: 'Helvetica';
    font-size: 16px;
    margin: 0;
}

h1, h2 {
    font-size: 32px;
    margin: 15px;
    font-weight: bold;
    color: #444;
}

h3 {
    font-size: 18px;
    margin: 15px;
    font-weight: bold;
    color: #888;
}

input[type=text], input[type=password], input[type=email] {
    text-indent: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #36618a
}

a:visited {
    text-decoration: none;
    color: #36618a
}

button {
    margin: 2px 0;
    padding: 7px 15px;
    color: #fff;
    background-color: #3721FF;
    border: solid 1px transparent;
    border-radius: 4px;
}

.button-lowkey {
    color: #999;
    background-color: #fff;
    border: solid 1px #bbb;
    border-radius: 4px;
}

.outermost-container, .navbar.outer {
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 1000px){
    .outermost-container, .navbar.outer {
        width: auto;
    }
}

.loading {
    height: 100%;
    margin: auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-small {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
