.post-details-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-details-container > div > .post-inner {
    max-width: 935px;
    width: auto;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
}
.post-details-container > div > .post-inner > .post-inner-left {

}