.upload-image-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #666;
}

.upload-image-container {
    display: flex;
    flex: 1 0;
    height: 600px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
}


.upload-image-first {
    width: 600px;
    height: 100%;
    display: flex;
}

.upload-image-first > .loading {
    display: flex;
    align-items: center;
}

@media (max-width: 820px) {

}

.upload-image-second {
    width: calc(335px - 48px);
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-left: 1px solid rgb(210, 210, 210);
}

.upload-image-outline {
    display: flex;
    flex-direction: column;
    margin: 24px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
}

.upload-image-outline:not(.uploaded) {
    background-image: repeating-linear-gradient(to right, #999 0%, #999 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, #999 0%, #999 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #999 0%, #999 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #999 0%, #999 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
}

.upload-image-first.uploaded {
    background-color: rgba(0,0,0, .6);
    margin: 0;
}

.upload-image-first > .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #000;
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-container {
    position: relative;
}

.img-container > .img-close {
    position: absolute;
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.upload-form-post-button.disabled {
    pointer-events: none;
    background-color: #aaa;
    opacity: .6;
}

.upload-image-first-top {
    /*border-bottom: 1px solid rgb(210, 210, 210);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
    flex-basis: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(240, 240, 240);*/
    border-radius: 10px;
}


.upload-image-outline.item-over {
    background-color: #f3f3f3;
}

.upload-image-outline * {
    pointer-events: none;
}

.choose-photo-button {
    pointer-events: all;
}

.upload-image-first-top-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-image-first-top-inner > * {
    margin-bottom: 6px;
    font-weight: bold;
}

.upload-image-first-top-inner > span > button {
    padding: 13px 8px;
}

.upload-image-first-top-inner > .upload-circle {
    background-color: #fff;
    padding: 24px;
    border: 1px solid #999;
    border-radius: 50%;
    margin-bottom: 12px;
}



.upload-form {
    display: flex;
    flex-direction: column;
}

.upload-form > label {
    font-weight: bold;
}

.upload-form > textarea {
    height: 3rem;
}

.upload-form > label {
    color: #888;
}

.upload-form > label > .optional {
    font-style: italic;
    font-size: 14px;
}

.upload-form > span {
    font-size: 14px;
    color: #888;
}

.upload-form > .note {
    font-size: 11px;
}

.upload-form > label, .upload-form > textarea, .upload-form > span, .upload-form > input {
    margin-bottom: 10px;
}